<ion-header>
    <ion-toolbar>
        <ion-title>ion-card-btn-inifite-scroll-lag</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>

    <!-- removing the button directive fixes the scroll bug -->
    <ion-card *ngFor="let d of data"  button>
        <ion-card-header>
            <!-- removing the subtitle fixes the scroll bug -->
            <ion-card-subtitle>subtitle</ion-card-subtitle>
            <ion-card-title>title</ion-card-title>
        </ion-card-header>
    
    
        <ion-card-content>
            <p>
                dummy content dummy content dummy contentdummy content dummy content dummy content dummy content dummy
                content dummy content
            </p>
        </ion-card-content>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>